<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>Equipment Creation</title>
</head>
<body>
	<h1>Equipment Creation Form</h1>
	<form th:action="@{/equipmentsService/equipment}"
		th:object="${equipment}" method="post">
		<table border="1">
			<tr>
				<td><label for="equipmentNumber">Equipment Number: </label></td>
				<td><input type="number" id="equipmentNumber"
					name="equipmentNumber" autofocus="autofocus" /></td>
			</tr>
			<tr>
				<td><label for="address">Address: </label></td>
				<td><input type="text" id="address" name="address"
					autofocus="autofocus" /></td>
			</tr>
			<tr>
				<td><label for="contractStartDate">Contract Start Date:
				</label></td>
				<td><input type="date" id="contractStartDate"
					name="contractStartDate" autofocus="autofocus" /></td>
			</tr>
			<tr>
				<td><label for="contractEndDate">Contract End Date: </label></td>
				<td><input type="date" id="contractEndDate"
					name="contractEndDate" autofocus="autofocus" /></td>
			</tr>
			<tr>
				<td><label for="status">Status: </label></td>
				<td><input type="text" id="status" name="status"
					autofocus="autofocus" /></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" value="Create Equipment"
					style="margin-left: 30%; font-weight: 700;" /></td>
			</tr>
		</table>
	</form>
	<br />
	<table>
		<tr>
			<th><a th:href="@{/equipmentsService/}">Back to Index</a></th>
		</tr>
	</table>
</body>
</html>